/* CSS for the index.html page */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main{
    color: rgb(165, 172, 172);
    text-align: center;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.project {
    background-color: #d3d1d1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.project h2 {
    margin: 0;
}

.project-link {
    text-decoration: none;
    color: inherit;
}
