body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 400px;
  max-height: 80vh; /* Set maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.heading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.lowerSection {
  margin-top: 20px;
}

.label {
  font-size: 16px;
}

.inputField {
  width: calc(100% - 80px);
  padding: 8px;
  margin-top: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}

.text-wrapper {
  margin-top: 20px;
  display: none;
}

.copy-container {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

.copy-container:hover {
  transform: scale(1.1);
}

.text-section {
  margin-top: 10px;
}

.text-section p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.fa-clipboard::before {
  content: "\f328";
}

.fa-copy::before {
  content: "\f0c5";
}

.font-semibold {
  font-weight: 600;
}

.text-gray {
  color: #636363;
}
